<div class="wrapper">
  <div class="container">
    <h1>"LikeCar" - авто из США "под ключ" по низкой цене.</h1>
    <div class="main-heading">
      <h4> Закажите авто из США и сэкономьте до 40% от общей стоимости</h4>
    </div>
      <div class="col-md-12 featured-cars">
        <div class="row">
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-link.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-2.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-link.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-link.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-link.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 item">
            <div class="image">
              <a href="#"><img src="/assets/img/car-img-link.jpg"></a>
            </div>
            <div class="content">
              <div class="col-md-12 ">
                <div class="row">
                  <div class="col-md-8 clearfix">
                    <div class="row">
                      <h5>2015 BMW 320i</h5>
                      <div class="line"></div>
                    </div>
                  </div>
                  <div class="col-md-4 fix-price">
                    <div class="row">
                      <span class="price">$22 000</span>
                    </div>
                  </div>
                  <div class="col-md-12 excerpt">
                    Стоимость подобного авто на рынке Украины стартует...
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 details">
              <div class="row">
                <div class="col-md-3 icons">
                  <i class="fa fa-car" aria-hidden="true"></i>
                  <span>2л</span>
                </div>
                <div class="col-md-4 icons">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <span>2015</span>
                </div>
                <div class="col-md-5 icons">
                  <i class="fa fa-road" aria-hidden="true"></i>
                  <span>42 000км</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
