<div class="wrapper">
  <div class="container">
    <div class="col-md-12 how-we-are-working">
      <h2>Как мы работаем</h2>
      <div class="line"></div>
      <p>
        Продадим ваш старый автомобиль дорого и взамен привезем новый из США. Доставим авто из США “под ключ”: от выбора авто на аукционе, до передачи авто на украинских номерах в любой город Украины
      </p>
      <div class="col-md-12 provision-of-services">
        <div class="row">
          <div class="col-md-3 item">
            <i class="fa fa-car" aria-hidden="true"></i>
            <h3>Подбор Автомобиля</h3>
            <span class="sub">
              Подбираем авто, и проверяем техническое состояние, историю эксплуатации авто на территории США в платных базах: CAR Fax, Avto Check, Epic Win.
            </span>
          </div>
          <div class="col-md-2 item">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <h3>Покупка Авто</h3>
            <span class="sub">
              Участвуем в оn-line торгах и покупаем автомобиль с учетом вашего бюджета.
            </span>
          </div>
          <div class="col-md-3 item">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            <h3>Оформление документов</h3>
            <span class="sub">
              Оформляем всю сопроводительную документацию для транспортировки авто. Встречаем авто с документами в порту города Одесса.
            </span>
          </div>
          <div class="col-md-2 item">
            <i class="fa fa-ship" aria-hidden="true"></i>
            <h3>Доставка Авто</h3>
            <span class="sub">
              Подбираем партнера-перевозчика, который доставит авто в кратчайшие сроки. Вы можете отслеживать движение Вашего авто 24/7 по системе cargloop.com.
            </span>
          </div>
          <div class="col-md-2 item">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            <h3>Довойльный клиент</h3>
            <span class="sub">
              Через 7-9 недель Вы получите Ваш новый автомобиль, в любом городе Украины на украинских номерах.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
